smolagents==1.13.0
ipykernel==6.29.5
python-dotenv==1.1.0
duckduckgo-search==8.0.2
gradio==5.33.0
langchain-community==0.3.25
rank-bm25==0.2.2
geopandas==1.1.0
kaleido==0.2.1
plotly==6.1.2
shapely==2.1.1
datasets==3.6.0
wikipedia-api==0.8.1
bitsandbytes==0.42.0
peft==0.15.2
trl==0.19.0
tensorboardx==2.6.4
wandb==0.20.1
torchvision==0.22.1
transformers==4.52.4
llama-index==0.12.44
llama-index-retrievers-bm25==0.5.2
llama-index-llms-ollama==0.6.2
llama-index-embeddings-huggingface==0.5.5
llama-index-vector-stores-chroma==0.4.2
llama-index-llms-huggingface-api==0.5.0
nbconvert==7.16.6
llama-index-tools-google==0.5.0
llama-index-utils-workflow==0.3.5
langgraph==0.5.0
langchain-openai==0.3.27